
/* Side Bar */

.sidebar {
  padding: 1rem;
}

@media (min-width: 48em) {
  .sidebar {
    width: 19.2rem;
  }
}

.avatar {
  display: none;
  max-height: 304px;
  max-width: 304px;
}

@media (min-height: 860px) {
  .avatar {
    display: inherit;
    height: 128px;
    margin: 1rem;
    width: 128px;
  }
}

@media (min-height: 1040px) {
  .avatar {
    height: auto;
    width: auto;
  }
}

.sidebar-about h1 {
  margin-bottom: 1.2rem;
  font-size: 2.15rem;
}

.description {
  display: none;
}

@media (min-height: 695px) {
  .description {
    display: inherit;
  }
}

.sidebar-nav {
  margin-bottom: .65rem;
}

.sidebar-nav-item {
  display: inline;
}

.sidebar-nav-links {
  margin-top: .9rem;
  text-align: center;
}

.sidebar-nav-links a {
  display: inline-block;
  margin-right: .3rem;
}

.sidebar-nav-links a:hover {
  background-color: #505050;
}

@media (min-width: 58em) {
  .sidebar-nav-links a {
    margin-right: .8rem;
  }
}

.sidebar-nav-links a img {
  margin-bottom: 0;
  padding: 4px;
}

.copyright {
  clear: both;
}

.version {
  font-size: 12px;
  margin-bottom: .75rem;
}

/* Body Content */ 

.content {
  padding-top: 2.5rem;
  padding-bottom: .5rem;
}

.pagination {
  margin-top: -.5rem;
}
