
/* Side Bar */

.sidebar {
  padding: 1rem;
}

@media (min-width: 48em) {
  .sidebar {
    width: 19.2rem;
  }
}

.sidebar-about h1 {
  margin-bottom: 1.2rem;
  font-size: 2.5rem;
}

.sidebar-nav {
  margin-bottom: 1rem;
}

.sidebar-nav-item {
  display: inline;
}

.sidebar-nav-links {
  margin-bottom: 4.2rem;
  margin-top: 1.25rem;
}

.sidebar-nav-links a {
  float: left;
  margin-right: 1.4rem;
}

.sidebar-nav-links a img {
  margin-bottom: 0;
}

.copyright {
  clear: both;
}

.version {
  font-size: 12px;
  margin-bottom: .75rem;
}

/* Body Content */ 

.content {
  padding-top: 2.5rem;
  padding-bottom: .5rem;
}

.pagination {
  margin-top: -.5rem;
}
