
/* Side Bar */

.sidebar {
  padding: 1rem;
}

@media (min-width: 48em) {
  .sidebar {
    width: 19.2rem;
  }
}

.avatar-wrapper {
  text-align: center;
}

.avatar {
  display: none;
  max-height: 304px;
  max-width: 304px;
}

@media (min-width: 48rem) {
  .avatar-wrapper {
    text-align: left;
  }
}

@media (min-height: 860px) {
  .avatar {
    display: inline-block;
    height: 128px;
    margin: 1rem;
    width: 128px;
  }
}

@media (min-height: 1040px) and (min-width: 58rem) {
  .avatar {
    height: auto;
    width: auto;
  }
}

.sidebar-about h1 {
  margin-bottom: 1.2rem;
  font-size: 2.15rem;
}

.description {
  display: none;
}

@media (min-height: 695px) {
  .description {
    display: inherit;
  }
}

.sidebar-nav {
  margin-bottom: .65rem;
}

.sidebar-nav-item {
  display: inline;
}

.sidebar-nav-links {
  margin-left: -4px;
  margin-top: .9rem;
}

.sidebar-nav-links a {
  display: inline-block;
  margin-right: 0;
}

@media (min-width: 58em) {
  .sidebar-nav-links a {
    margin-right: .4rem;
  }
}

.sidebar-nav-links a:hover {
  background-color: #505050;
}

.sidebar-nav-links a img {
  height: 32px;
  margin: 0;
  padding: 2px;
  width: 32px;
}

@media (min-width: 58em) {
  .sidebar-nav-links a img {
    padding: 3px;
  }
}

.copyright {
  clear: both;
}

.version {
  font-size: 12px;
  margin-bottom: .75rem;
}

/* Body Content */ 

.content {
  max-width: none;
  padding-top: 2.5rem;
  padding-bottom: .5rem;
}

.container {
  max-width: none;
}

@media (min-width: 48em) {
  .content {
    margin-right: .8rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-right: 2.8rem;
  }
}

.pagination {
  margin-top: -.5rem;
}


/* Posts */

.post {
  /* text-align: justify; */
}

blockquote {
  background-color: #FCFCFC;
  padding: .7rem 1.25rem .9rem 1.25rem;
}

blockquote code {
  background-color: #E9E9E9;
}

img {
  margin: .5rem 0 1rem 0;
}

abbr[title] {
  border-bottom-color: #CCCCCC;
}

h2, h3 {
  margin-top: 2rem;
  margin-bottom: .75rem;
}
